ADFGX_Cloud_Solver/Service References/ADFGXService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CipherKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop20">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop20Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTop20Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCipher">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCipherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCipherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>